html{
	background-color: #8899CC;
	color: white;
	width: 1300px;
	margin: auto;
	font-family: Cambria, Helvetica, "Times New Roman";
	font-size: 1em;
	overflow: scroll;
}

#navBar{
	border-radius: 0.4em;
	background-color: #444566;
	font-size: 1.2em;
	height: 1.4em;
	display: inline-table;
	
}

#navBar ul{
	list-style-type: none;
	padding: 0px;
}

#navBar ul li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

#navBar a:link,#navBar a:visited{
	text-decoration: none;
	color: white;
}


#navBar a:hover{
	color: #AAAAFF;
}

#navBar a:active{
	text-decoration: none;
}

/*********************************************
The above was copied from the style.css from armenourfalian.com
*/
html{
	-webkit-user-select:none;
}
#pageBody{
	margin: auto;
	width: 99%;
}


#riddleText{
	text-align: center;
	font-size: 1.2em;
}

#actionWindow{
	width:100%;
	background-color: #7788BB;
	border-radius: 25px;
}

#pillsContainer{	
	width:-webkit-max-content;
	margin:0px auto;
	padding-top: 10px;
}


.pill{
	height: 120px;
	left:0px;
	float:left;
	width: 60px;
	text-align: center;
	font-size: 2em;
	border-radius: 40px;
	border: 1px solid black;
	background-color: #FFFFFF;
	color: black;
	cursor: -webkit-grab;
	position:relative;
}

.hovered{
	background-color: #AAAAAA;
}
.selected{
	background-color: #0000FF;
	color: white;
	cursor:-webkit-grabbing;
}


/*
vertCent are divs that go inside pills
purpose is to vertically align contents of pill
*/
.vertCent{
	height:50%;
	display:inline-block;
	border:none;
}

/*these divs go between pills, and they are for pill spacing*/
.betweenPills{
	width:10px;
	float:left;
	height: 1px;
}

#scaleContainer{
	margin-left: auto;
	margin-right:auto;
	padding-bottom: 20px;
	width: 70%;
}


.scale{
	text-align: center;
	margin:0px;
	float: left;
	height: 200px;

}

#group1, #group2{
	width: 49%;
	background-color: #99AADD;
	border-radius: 12px;
}

#betweenScaleGroups{
	width: 1px;
	margin-left:0.9%;
	margin-right: 0.9%;
	border-radius: 5px;
	background-color: black;
}

.clearBoth{
	clear:both;
}
#buttonContainer{
	text-align: center;
	width: 100%;
}