html{
	font-family: Helvetica;
	background-color: #345689;
	-webkit-user-select:none;
	text-align: center;
	margin: auto;
	color: white;
}

button{
	font-size: 15px;
	height: 50px;
	width: 100%;
	border-radius: 5px;
	outline: none;
}

br{
	clear:both;
}


.pill{
	height: 120px;
	width: 6%;
	text-align: center;
	font-size: 12px;
	border-radius: 40px;
	border: 1px solid black;
	background-color: #FFFFFF;
	float:both;
	margin-right:1%;
	margin-left:1%;
	color: black;
}

#pillsContainer{
	width: 90%;
	margin: auto;
}

#group1Container{
	color: orange;
}

.group1, #group1Button{
	background-color: orange;
	border: none;
}

#group2Container{
	color: yellow;
}

.group2, #group2Button{
	background-color: yellow;
	border: none;
}

.selected{
	background-color: blue;
}

#numScales{
	font-size: 30px;
}

#pageBody{
	width: 1300px;
	margin: auto;
}
.columns{
	float: left;
	margin: auto;
}


#leftSide, #rightSide{
	width:22%;
}

#middleSide{
	width: 55%	;
}

#riddleText{
	text-align: center;
	font-size: 18px;
	width: 100%;
	clear: both;
}

#answer{
	font-size: 25px;
	height: 50px;
	width:50px;
	text-align: center;
}

#checkButton{
	width: auto;
	height: 50px;
}

button{
	font-size: 17px;
}

#pageFooter{
	text-align: right;
}

#answer{
	font-size: 20px;
	text-align: center;
}